@page
@model RapChieuPhimWebApp.Pages.PhimListModel
@{
    ViewData["Title"] = "Danh sách phim";
}
<div class="col-sm-12">
    <h2 class="page-heading">Danh sách phim </h2>
    <div class="select-area">
        <form method="get" id="myform">
            <div class="form-group row">
                <label for="category" class="col-sm-2 text-sm-right pt-2">Thể loại: </label>
                @*Cách load 1 select list*@
                <select id="category" class="form-control col-sm-3 mb-2" onchange="myform.submit()"
                        asp-items="@Model.TheLoaiSelectList"
                        name="TheLoaiId">
                    @*/PhimList?TheLoaiId=...*@
                    <option value="0" selected="selected">--- Liệt kê tất cả ---</option>
                </select>
                <div class="ml-auto">
                    <a class="btn btn--success" style="color: #fff; " href="PhimCreate.html">
                        <i class="fa fa-plus-square" aria-hidden="true" style="font-size: 16px;"></i> Thêm
                        phim mới
                    </a>
                </div>
            </div>
        </form>
    </div>

    @foreach (var phim in Model.ListPhim)
    {
        <!-- Movie preview item -->
        <div class="movie movie--preview movie--full release row">
            <div class="col-sm-3 col-md-2 col-lg-2">
                <div class="movie__images">
                    <a asp-page="/PhimDetails" asp-route-Id="@phim.Id">
                        <img src="data:image/png;base64, @phim.Poster" alt="@phim.TenPhim" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                <a class="movie__title link--huge" href="PhimDetails.html">@phim.TenPhim</a>

                <p class="movie__time">@(phim.ThoiLuong == 0 ? "Chưa cập nhật" : $"{phim.ThoiLuong} phút")</p>

                <p class="movie__option"><strong>Nước sản xuất: </strong><a href="#">@(string.IsNullOrEmpty(phim.NuocSanXuat) ? "Chưa cập nhật" : phim.NuocSanXuat)</a></p>
                <p class="movie__option"><strong>Hãng sản xuất: </strong><a href="#">@(string.IsNullOrEmpty(phim.NhaSanXuat) ? "Chưa cập nhật" : phim.NhaSanXuat)</a></p>
                <p class="movie__option">
                    <strong>Thể loại: </strong>
                    @phim.GetTenTheLoais(Model.ListTheLoai)
                </p>
                <p class="movie__option"><strong>Ngày khởi chiếu: </strong>@(phim.NgayKhoiChieu == null ? "Chưa cập nhật" : phim.NgayKhoiChieu.Value.ToString("dd/MM/yyyy"))</p>
                <p class="movie__option"><strong>Đạo diễn: </strong><a href="#">@(string.IsNullOrEmpty(phim.DaoDien) ? "Chưa cập nhật" : phim.DaoDien)</a></p>
                <p class="movie__option">
                    <strong>Diễn viên: </strong>@(string.IsNullOrEmpty(phim.DienVien) ? "Chưa cập nhật" : phim.DienVien)
                </p>
                <p class="movie__option"><strong>@phim.XepHangPhim.Ten</strong></p>

                <div class="movie__btns">
                    <a href="#" class="btn btn-md btn-- btn--warning">Đặt vé</a>
                    <a href="#" class="watch-trailer">Trailer</a>
                    <div class="clearfix"></div>
                    <a class="btn btn--default" style="margin-top:20px;color:#fff;" href="PhimEdit.html">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:16px;"></i> Edit
                    </a>
                </div>
            </div>

        </div>
        <!-- end movie preview item -->
    }

    <div class="pagination paginatioon--full mt-2">
        <a class="pagination__prev @(Model.PageNumber == 1 ? "disabled" : "")" 
           asp-page="/PhimList" 
           asp-route-PageNumber="@(Model.PageNumber - 1)"
           asp-route-TheLoaiId="@Model.TheLoaiId">prev</a>
        <a class="pagination__next @(Model.PageNumber == Model.PageCount ? "disabled" : "")" 
           asp-page="/PhimList" 
           asp-route-PageNumber="@(Model.PageNumber + 1)"
           asp-route-TheLoaiId="@Model.TheLoaiId">next</a>
    </div>
</div>